# 📌 Step 4. 파이썬 - 리스트

## 1. 리스트(List) 란? 

리스트는 숫자와 문자열만으로는 표현할 수 있는 것들에 한계가 존재해서 그 부분을 보완하기 위해 만든 것입니다.  
파이썬의 자료 구조 형태 중 하나로 리스트는 값을 나열하는 것으로 정의됩니다.


###  LIST의 특징 (※이건 꼭 기억하기!※)🔥🔥🔥

ⓛ 순서 O

② 중복 O

③ 수정 O

④ 삭제 O

⑤ 여러개의 값을 묶어서 저장 가능



---


### ⚡ List가 왜 중요할까요? ⚡

**데이터 베이스에서 값을 가져오거나, 웹이나 인터넷에서 크롤링을 할때에도 리스트는 가장 기본적인 데이터 형태**로써 아주 많이 쓰이기 때문에, List는 간단하지만 아주 중요한 개념이에요!

데이터 분석을 하는 사람들에게도 필수적입니다.
넘파이나 판다스같은 프로그램에서 2차원 3차원의 형태로 생긴 데이터를 리스트 형태로 담고있습니다.
매커니즘은 조금씩 다르지만, 기본적으로 데이터를 삽입하고 가져오는 형태는 비슷하기 때문에 List개념을 잘 배워놓으면 앞으로 파이썬을 효율적으로 사용할 수 있게 될거에요!


---


### List 만들기 

리스트의 구조는 단순합니다. 변수로 리스트를 정의하고  대괄호 안에 여러 개의 값을 넣고 각각을 콤마 (,) 로 구분하면 됩니다.  
>예) 바다에 사는 것들 = [ 🐳, 🦀, 🐚, 🧜🏻‍♀️, 🐬 ]  
> List 를 만들어봅시다

In [ ]:
#List_name(변수) = [a,b,c] 
corona_counts = [114, 1091, 2163, 50184]  # 4개 국가의 코로나 현황을 담는 list 를 생성합니다
print("각 국가의 코로나 바이러스 현황은?")
print(corona_counts)

각 국가의 코로나 바이러스 현황은?
[114, 1091, 2163, 50184]

`corona_counts` 라는 변수의 이름에  114, 1091, 2163, 50184 와 같은 여러 개의 값을 담을 수 있습니다.
이게 바로 List 입니다.

### 2. List에 문자 담기 

  리스트에는 숫자(int 또는 float) 뿐만 아니라 텍스트(string) 도 담을 수 있습니다.  
  텍스트를 list에 넣을 때는, 작은 따옴표('`이건 string`') 로 감싸서  넣어 줘야 합니다.

> 🔍 아래 예제를 보고 야식 리스트를 만들어보세요
> * 만약 에러가 뜬다면 입력 값들 사이에 콤마 (,) 를 표시했는지 살펴 보세요

In [ ]:
#야식을 리스트로 만들어서 출력해보세요!

yasik = ["족발", "치킨", "떡볶이", "마라샹궈"]
print("내가 먹고 싶은 야식 리스트 ")
print(yasik) #yasik list를 출력합니다.

내가 먹고 싶은 야식 리스트
['족발', '치킨', '떡볶이', '마라샹궈']

> 또한 list에 숫자와 텍스트 둘다 넣을 수 있습니다.

In [ ]:
# 아래는 음식 이름과 가격을 갖는 order list 입니다 
order = ['떡볶이', '3인분', 15000]

print("내 주문 정보")
print(order) #order list를 출력합니다.

내 주문 정보
['떡볶이', '3인분', 15000]

### 3. List 에 List 담기 

List에는 숫자, 문자뿐만 아니라 심지어 다른 리스트를 담을 수 있습니다!  
 리스트 안에 다른 리스트를 넣을 때는 대괄호를 하나 더 써줘야 합니다.
 
 `[  [ ]  ]` 이렇게요.

In [ ]:
# list 안에 list 
cheese_list = [['치즈'],['크림치즈','고르곤졸라치즈'],['사워크림치즈','허니버터치즈','어니언갈릭치즈']]  
print(cheese_list)

[['치즈'], ['크림치즈', '고르곤졸라치즈'], ['사워크림치즈', '허니버터치즈', '어니언갈릭치즈']]

## 4.append() 리스트에 값을 추가하기
리스트에 다른 값을 추가하고 싶을 때는 `.append()`라는 함수를 사용하여 새로운 값을 추가할 수 있습니다.  
 `.append()` 함수는 리스트 이름 뒤에 붙여야 합니다!  만약 위의 `cheese_list` 라는 리스트에 값을 추가할 경우에는

`cheese_list.append('추가하고 싶은 치즈')  `  이런 식으로 말이죠.

In [ ]:
# 먼저 치즈 리스트를 출력해볼까요? 
cheese_list = ['치즈', '크림치즈', '고르곤졸라치즈', '사워크림치즈', '허니버터치즈', '어니언갈릭치즈']
print(cheese_list)

['치즈', '크림치즈', '고르곤졸라치즈', '사워크림치즈', '허니버터치즈', '어니언갈릭치즈']

> 🔍 세상에 존재하지 않는 치즈를 추가해보세요

In [ ]:
# 여기에 만들어보세요
cheese_list.append('고다치즈')

print(cheese_list)    # 만약 TypeError가 뜬다면 추가한 치즈를 string 형태나 list 형태로 바꿔보세요

['치즈', '크림치즈', '고르곤졸라치즈', '사워크림치즈', '허니버터치즈', '어니언갈릭치즈', '고다 치즈', '고다치즈', '고다치즈']

## 5. 리스트 인덱싱 (index) 

### 인덱싱(index)
리스트는 문자열과 같이 인덱싱을 적용하여  리스트 안의 값들을 가져올 수 있습니다. 

 
` num = [0,1,2,3,4,5]` 라는  list가 있을 때, 
 
- `num[0]` 은 num 리스트의 첫 번째 요소값을 말합니다.  
- `num[1]` 은 두 번째, `num[2]`는 세 번째... 이렇게 순서대로 리스트안의 요소값을 말합니다. 
 
 어? 😵 근데 왜 `num[1]`이 두 번째 숫자인가 하고 궁금하실 거에요.  

 그 이유는 **파이썬은 0부터 숫자를 세기 때문이죠!**

> 인덱싱을 통해 특정 위치의 값을 불러 출력할 수 있습니다.

In [ ]:
list1 = [0,3,5,4]  # list1이라는 리스트가 있습니다. 
print("list1  안에 있는 세 번째 값은:")
print(list1[2]) # list1에서 세 번째에 들어있는 값을 print 합니다.

# 쉽죠? 그럼 이제 숫자 말고 텍스트도 볼까요? 
list2 = [ 'i', 'love','you',3000] 
print("list2 안에 있는 두 번째 단어를 print:")
print(list2 [1])  # love는 두 번째 단어니까 list2[1] 이겠죠?

list1  안에 있는 세 번째 값은:
5
list2 안에 있는 두 번째 단어를 print:
love

> 🔍 위 리스트에서 3000이라는 숫자를 print 해보세요!

In [ ]:
# 여기에
print(list2[3])
# 역순의 인덱스도 한 번 활용해볼까요?
print(list2[-1])

3000
3000

##⌛ QUIZ ⌛
![김마인표.png]()
*   그림과 같이 '김마인'님의 고객 보험 정보 LIST가 있는데,
    여기서 인덱스를 사용하여 '나이'만 뽑으려면 어떻게 해야할까요?

In [ ]:
# 리스트 생성

# '나이'만 뽑기

In [ ]:
#@title 정답
# 여기에 답을 적어볼까요?
user = ['김마인', 'female', '30', 'B']
print(user[2])
print(user[-2])

30
30

### 6. 슬라이싱(slicing)

슬라이싱은 말 그대로 문자열이나 리스트에서 단순히 한 문자만 뽑아내는 것이 아니라 원하는 값을 여러 개 가져오는 기능입니다. 
* list[시작:끝]   이렇게 생겼습니다.


파이썬에서는 문자열도 리스트에서와 같이 인덱싱과 슬라이싱이 가능합니다.

In [ ]:
A = "DATADIVING"
A[4:]

'DIVING'

In [ ]:
# 문자열을 slicing 하면
text = "i love you 3000"  
text = text[0:6]  # index 0부터 ~ index 6 전의 index 5까지 가져옵니다
print("인덱스 0 부터 6까지 값을 출력하면:")
print(text) # 가져온 값을 살펴봅시다

인덱스 0 부터 6까지 값을 출력하면:
i love

문장에서 0부터 6 번째 자리에 있는 단어들이 출력 되었습니다!  
그럼 이제 배열 slicing을 해볼게요. 배열도 마찬가지입니다. 배열 인덱싱도 방식은 동일합니다.

In [ ]:
list3 = ['i','love','you','3000']
result = list3[0:2]     # 리스트에서 첫 번째 부터 두 번째 값을 가져옵니다.
print("list3 안의 첫 번째 부터 두 번째까지의 값은:")
print(result)
print("위 문장을 모두 slicing을 이용해서 가져오고 print 해보세요!")

# list[시작:끝]을 result라는 변수에 넣고 출력해보세요
result = list3[0:-1]
print(result)

list3 안의 첫 번째 부터 두 번째까지의 값은:
['i', 'love']
위 문장을 모두 slicing을 이용해서 가져오고 print 해보세요!
['i', 'love', 'you']

list [시작: 끝] 에서 위에서 한 것처럼 범위를 지정할 수도 있지만,  시작과 끝 부분을 얻어보는 방법을 더 쉽게 표현 할 수 있습니다. 


* list [ 2 : ]  : 2번째부터 끝까지 가져옴
* list [ : 2 ] : 처음부터 2번째 까지 반환 
* list [ : ] : 처음부터 끝까지 전부 반환

> 🔍 위 내용을 참고해서 아래 예제의 리스트에서 처음부터 3번째 값을 가져와 출력해 보세요

In [ ]:
# 아래 list4에서 처음부터 3번째 '끝' 까지만 가져와 보세요
list4 = ['이제','수업','끝','남','잠시 휴식','시간 가져요']

answer = # 여길 고쳐보세요!

print(answer) # 가져온 값을 출력해 봅니다

['이제', '수업', '끝', '남', '잠시 휴식', '시간 가져요']

In [ ]:
#@title 정답

# 아래 list4에서 처음부터 3번째 '끝' 까지만 가져와 보세요
list4 = ['이제','수업','끝','남','잠시 휴식','시간 가져요']

answer = list4[:3]

print(answer) # 가져온 값을 출력해 봅니다

['이제', '수업', '끝']

##⌛ QUIZ ⌛

- 인사팀에서 신입사원을 대상으로한 교육분반 표를 만들었습니다.

  이 중, 슬라이싱을 통해 '부서'와 '반'에 해당하는 데이터만 뽑으려면 어떻게 해야할까요?

In [ ]:
DB = [['이름', '부서', '분반'],['김마인', '마케팅', 'C']]

# 답 적기

In [ ]:
#@title 정답
# 여기에 답을 적어볼까요?
DB = [['이름', '부서', '분반'],['김마인', '마케팅', 'C']]
print(DB[1][1:])

['마케팅', 'C']

# 데이터 입력받기(input)

데이터를 저장하고 가공하기 위해서는 데이터에 대한 입력이 필요합니다.

Input은 사용자에게 데이터를 입력 받기 위한 함수입니다. 

Input은 입력 받은 값을 문자열로 처리하기 때문에 숫자를 입력받을 경우 

숫자형 Type으로 변환해주어야 합니다.

In [1]:
text = input() # text 변수에 사용자 입력 값을 저장합니다.

# 안녕하세요를 입력해 보세요

print(text)
print(type(text))

안녕하세요
안녕하세요
<class 'str'>

In [2]:
text = input("인사말을 입력해 주세요!") # input의 프롬프트 문자열을 입력해줄 수 있습니다.

# 안녕하세요를 입력해 보세요

print(text)

인사말을 입력해 주세요!안녕하세요
안녕하세요

In [3]:
num = int(input('정수 10을 입력해 주세요!')) # num 변수에 사용자 입력 값을 정수형으로 변환하여 저장합니다.

print(num)
print(type(num))

숫자 10을 입력해 주세요!10
10
<class 'int'>

In [4]:
num = float(input('실수 2.3을 입력해 주세요!')) # num 변수에 사용자 입력 값을 정수형으로 변환하여 저장합니다.

print(num)
print(type(num))

실수 2.3을 입력해 주세요!2.3
2.3
<class 'float'>